header {
    background: #0074D9;
    color: #fff;
    width: 100%;
    padding: 1em 0;
    
}
header h1 {
    font-weight: normal;
    margin: 0 1em;
  }

body {
    background-color:#999;
}

floatLeft {
    float: left;
}


article {
    display: block;
    border-style: solid;
    width: 100%
}



select.shopping_cart {
    width: 100%;
}

section {
    display: inline-block;
    width: 100%;
}

section.orderButtons {

    display: inline-block;
    width: 45%;

    margin-top: 7em;
    min-width: 30em;


}

section.pizzaOffer {

    width: 45%;
    display: inline-block;

    margin-top: 3em;
    min-width: 30em;

}

div.menuPizzaItem {
    width: 48%;
    min-width: 14em;
    height: 5em;
    display: inline-block;
}


img {
    display: block;
    
    margin-top: 2em;
}

span.price {
    display: inline-block;
    
    padding: 0.5em;
    margin-bottom: 2em;
}

span.name {
    display: inline-block;
    margin-bottom: 2em;
    
}

section {
    display: inline-block;
    width: 100%;
}

h1 {
    color: white;
}

mainContent {
    display: block;
}

.radioLabel {
    display:inline-block;
    margin: 1%;
    vertical-align:top;
    text-align:center;

    /* IE 7 and below */
    *display:inline;
    *zoom:1;
}

.radioLabel * {
    display:inline-block;
}

table {
    padding-left: 1em;
}
table th {
    width: 5%;
    padding-left: 1em;
}

table td {
    width:5%;
    text-align: center;
}

button {
    margin-left: 1em;
    height: 2em;
}


.tall_input {
    height: 2em;
}