header {
    background: #0074D9;
    color: #fff;
    width: 100%;
    padding: 1px 0;
    
}
header h1 {
    font-weight: normal;
    margin: 0 16px;
  }

body {
    background-color: white;
    margin: 3%;
}

article {
    display: inline-block;
    width: 15em;
    border-style: solid;
    margin: 2px;
    padding: 0.5em;
}

h1 {
    color: white;
}

mainContent {
    display: inline;
}

.radioLabel {
    display:inline-block;
    margin: 1%;
    vertical-align:top;
    text-align:center;

    /* IE 7 and below */
    *display:inline;
    *zoom:1;
}

.radioLabel * {
    display:inline-block;
}